// Colors
$white: #ffffff;
$rust: #B02E0C;
$myrtle-green: #357266;
$warm-black: #0E3B43;
$rifle-green: #444140;
$raisin-black: #1E1E24;

// Grid
$gutter: 0px;
$col: 0px;
$ncol: 12;

// Breakpoints
$S: max-width 639px;
$M: 640px;
$L: 960px;
$XL: colw(12);

