@font-face {
  font-family: 'MrEaves';
  src: url('./assets/fonts/mr_eaves_small_caps-webfont.woff2') format('woff2'),
       url('./assets/fonts/mr_eaves_small_caps-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'BookInsanity';
  src: url('./assets/fonts/bookinsanity-webfont.woff2') format('woff2'),
       url('./assets/fonts/bookinsanity-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BookInsanity';
  src: url('./assets/fonts/bookinsanity_bold-webfont.woff2') format('woff2'),
       url('./assets/fonts/bookinsanity_bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BookInsanity';
  src: url('./assets/fonts/bookinsanity_italic-webfont.woff2') format('woff2'),
       url('./assets/fonts/bookinsanity_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'BookInsanity';
  src: url('./assets/fonts/bookinsanity_bold_italic-webfont.woff2') format('woff2'),
       url('./assets/fonts/bookinsanity_bold_italic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
